<header role="banner" class="site-header">
  <a href="#main" class="skip-to-main">Skip to Main Content</a>
  <div class="logo">
    {% include "partials/sdg-explorers-icon.svg" %}
    <h1>SDG Explorers Club</h1>
  </div>
</header>
